/* COMMENT FORM */
.comment-form {
	overflow:hidden;
}
.comments h3 {
	line-height:normal;
	color:#333;
	font-weight:bold;
	margin:0 0 20px 0;
	font-size:16px;
	padding:0 0 0 0;
}
h4#comment-post-message {
	display:none;
	margin:0 0 0 0;
}
.comments{
	clear:both;
	margin-top:10px;
	margin-bottom:0
}
.comments .comments-content{
	font-size:13px;
	margin-bottom:8px
}
.comments .comments-content .comment-thread ol{
	text-align:left;
	margin:13px 0;
	padding:0
}
.comment .avatar-image-container {
	background:#fff;
	border:1px solid #f0f0f0;
	overflow:hidden;
	padding:6px;
}
.comments .comment-block{
	position:relative;
	background:#fff;
	padding:15px;
	margin-left:60px;
	border:1px solid #f0f0f0;
}
.comments .comments-content .comment-replies{
	margin:8px 0;
	margin-left:60px
}
.comments .comments-content .comment-thread:empty{
	display:none
}
.comments .comment-replybox-single {
	background:#fff;
	box-shadow:inset 1px 1px 0 #f0f0f0, inset -1px -1px 0 #f0f0f0;
	padding:0;
	margin:8px 0;
	margin-left:60px
}
.comments .comment-replybox-thread {
	background:#fff;
	box-shadow:inset 1px 1px 0 #f0f0f0, inset -1px -1px 0 #f0f0f0;
	margin:8px 0 0 0;
	padding:0;
}
.comments .comments-content .comment{
	margin-bottom:6px;
	padding:0
}
.comments .comments-content .comment:first-child {
	padding:0;
	margin:0
}
.comments .comments-content .comment:last-child {
	padding:0;
	margin:0
}
.comments .comment-thread.inline-thread .comment, .comments .comment-thread.inline-thread .comment:last-child {
	margin:0px 0px 5px 30%
}
.comment .comment-thread.inline-thread .comment:nth-child(6) {
	margin:0px 0px 5px 25%;
}
.comment .comment-thread.inline-thread .comment:nth-child(5) {
	margin:0px 0px 5px 20%;
}
.comment .comment-thread.inline-thread .comment:nth-child(4) {
	margin:0px 0px 5px 15%;
}
.comment .comment-thread.inline-thread .comment:nth-child(3) {
	margin:0px 0px 5px 10%;
}
.comment .comment-thread.inline-thread .comment:nth-child(2) {
	margin:0px 0px 5px 5%;
}
.comment .comment-thread.inline-thread .comment:nth-child(1) {
	margin:0px 0px 5px 0;
}
.comments .comments-content .comment-thread{
	margin:0;
	padding:0
}
.comments .comments-content .inline-thread{
	background:#fff;
	border:1px solid #f0f0f0;
	padding:15px;
	margin:0
}
.comments .comments-content .icon.blog-author {
	display:inline;
}
.comments .comments-content .icon.blog-author:after {
	content:&quot;Admin&quot;;
	background:#FF4F4F;
	color:#fff;
	font-size:11px;
	padding:2px 5px;
	border-radius:3px;
}
.comment-header {
	text-transform:uppercase;
	font-size:12px;
}
.comments .comments-content .datetime {
	margin-left: 6px;
}
.comments .comments-content .datetime a {
	color:#888;
}
.comments .comment .comment-actions a {
	display:inline-block;
	color:#888;
	font-weight:bold;
	font-size:11px;
	line-height:15px;
	margin:4px 8px 0 0;
}
.comments .continue a {
	color:#333;
	display:inline-block;
	font-size:11px;
}
.comments .comment .comment-actions a:hover, .comments .continue a:hover{
	text-decoration:underline;
}
.pesan-komentar p {
	background:#fff;
	position:relative;
	color:#8d8d8d;
	padding:10px 15px;
	margin:8px;
}
.pesan-komentar p {
	line-height:normal;
	margin:0 0;
}
.fb-comments{width: 100% !important;}
.fb-comments iframe[style]{width: 100% !important;}
.fb-like-box{width: 100% !important;}
.fb-like-box iframe[style]{width: 100% !important;}
.fb-comments span{width: 100% !important;}
.fb-comments iframe span[style]{width: 100% !important;}
.fb-like-box span{width: 100% !important;}
.fb-like-box iframe span[style]{width: 100% !important;}
.fotleft{float:left}
.fotright{float:right;text-align:right;}